* {
    font-family: 'ABeeZee', serif;
}

.flexbox {
    display: flex;
    height: 200px;
    
}
.flexbox a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 20px;
    flex: 1 1 0;
    transition: background-color 0.2s ease-in-out;
}


.flexbox a:hover {
    background-color: #414141;
    transition: background-color 0.2s ease-in-out;
}