* {
    font-family: 'ABeeZee', serif;
    margin: 0px;
}

.flexbox {
    display: flex;    
}

.title {
    flex: 3 1 0;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.details {
    flex: 2 1 0;
}

.heading {
    padding: 20px;
}

.links a {
    height: 200px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 20px;
    flex: 1 1 0;
    transition: background-color 0.2s ease-in-out;
}


.links a:hover {
    background-color: #414141;
    transition: background-color 0.2s ease-in-out;
}